{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>
<body>
    <div>
        <img class="cloud1" src="{% static 'images/cloud.png' %}" alt="post_image">
        <img class="cloud2" src="{% static 'images/cloud.png' %}" alt="post_image">
        <img class="cloud3" src="{% static 'images/cloud.png' %}" alt="post_image">
        <img class="cloud4" src="{% static 'images/cloud.png' %}" alt="post_image">
    </div>

    <div class="main_page">
        <header style="margin-bottom: 30px;">
            <div class="header_nav">
                <div><img class="logo_main" src="{% static 'images/Logo 1.jpg' %}" alt="post_image"></div>
                <div class="main_nav_01">
                    <h2 style="color: rgb(255, 183, 1); font-family: Calibri; font-weight: bold; font-size: 30px;">Самое грандиозное событие этого лета!</h2>
                    <div class="main_nav_02">
                        <p class="main_nav_items">О мероприятии</p>
                        <p class="main_nav_items">Программа</p>
                        <p class="main_nav_items">Правила</p>
                        <p class="main_nav_items">Как добраться</p>
                        <p class="main_nav_items">Контакты</p>
                        <div class="main_nav_end_item"><p class="main_nav_end_item_text">Стать партнёром</p></div>
                    </div>
                </div>
            </div>
        </header>
        <section style="margin-bottom: 30px;">
            <div class="header_nav"><img class="img_main" src="{% static 'images/img04.png' %}" alt="post_image"></div>
        </section>
        <section style="margin-bottom: 30px;">
            <div class="header_nav"><h1 style="font-family: Calibri; font-weight: bold; font-size: 30px;">Живи на волне позитива!</h1></div>
        </section>
        <section style="margin-bottom: 80px;">
            <div class="header_nav">
                <img class="img_block_01" src="{% static 'images/img05.jpg' %}" alt="post_image">
                <p class="text_block_01">26 и 27 июля состоится самое грандиозное событие лета 2024 года! Вас ждут интересная шоу-программа, множество конкурсов, призов и розыгрышей, первоклассные ведущие и море позитива! Живи на волне позитива!</p>
            </div>
        </section>
        <section>
            <div class="block_08">
                <img class="img_block_08" src="{% static 'images/img32.png' %}" alt="post_image">
            </div>
        </section>
        <section style="margin-bottom: 30px;">
            <div class="block_05">
                <div class="block_05_item">
                    <div class="block_05_item_image_brick"><img class="img_block_05" src="{% static 'images/img08.jpg' %}" alt="post_image"></div>
                    <div>
                        <div class="block_05_item_title_brick"><p style="color: white; font-weight: bold;">Концерт</p></div>
                        <div class="block_05_item_content_brick"><p style="color: white;"> 26 и 27 июля состоится самое грандиозное событие лета 2024 года! Вас ждут интересная шоу-программа, множество конкурсов, призов и розыгрышей, первоклассные ведущие и море позитива! Живи на волне позитива!</p></div>
                    </div>
                </div>
                <div class="block_05_item">
                    <div class="block_05_item_image_brick"><img class="img_block_05" src="{% static 'images/img09.jpg' %}" alt="post_image"></div>
                    <div>
                        <div class="block_05_item_title_brick"><p style="color: white; font-weight: bold;">Конкурсы</p></div>
                        <div class="block_05_item_content_brick"><p style="color: white;"> 26 и 27 июля состоится самое грандиозное событие лета 2024 года! Вас ждут интересная шоу-программа, множество конкурсов, призов и розыгрышей, первоклассные ведущие и море позитива! Живи на волне позитива!</p></div>
                    </div>
                </div>
                <div class="block_05_item">
                    <div class="block_05_item_image_brick"><img class="img_block_05" src="{% static 'images/samsung_vs_iphone-1.webp' %}" alt="post_image"></div>
                    <div>
                        <div class="block_05_item_title_brick"><p style="color: white; font-weight: bold;">Крутые призы</p></div>
                        <div class="block_05_item_content_brick"><p style="color: white;"> 26 и 27 июля состоится самое грандиозное событие лета 2024 года! Вас ждут интересная шоу-программа, множество конкурсов, призов и розыгрышей, первоклассные ведущие и море позитива! Живи на волне позитива!</p></div>
                    </div>
                </div>
                <div class="block_05_item">
                    <div class="block_05_item_image_brick"><img class="img_block_05" src="{% static 'images/img08.jpg' %}" alt="post_image"></div>
                    <div>
                        <div class="block_05_item_title_brick"><p style="color: white; font-weight: bold;">Концерт</p></div>
                        <div class="block_05_item_content_brick"><p style="color: white;"> 26 и 27 июля состоится самое грандиозное событие лета 2024 года! Вас ждут интересная шоу-программа, множество конкурсов, призов и розыгрышей, первоклассные ведущие и море позитива! Живи на волне позитива!</p></div>
                    </div>
                </div>
                <div class="block_05_item">
                    <div class="block_05_item_image_brick"><img class="img_block_05" src="{% static 'images/img09.jpg' %}" alt="post_image"></div>
                    <div>
                        <div class="block_05_item_title_brick"><p style="color: white; font-weight: bold;">Конкурсы</p></div>
                        <div class="block_05_item_content_brick"><p style="color: white;"> 26 и 27 июля состоится самое грандиозное событие лета 2024 года! Вас ждут интересная шоу-программа, множество конкурсов, призов и розыгрышей, первоклассные ведущие и море позитива! Живи на волне позитива!</p></div>
                    </div>
                </div>
                <div class="block_05_item">
                    <div class="block_05_item_image_brick"><img class="img_block_05" src="{% static 'images/samsung_vs_iphone-1.webp' %}" alt="post_image"></div>
                    <div>
                        <div class="block_05_item_title_brick"><p style="color: white; font-weight: bold;">Крутые призы</p></div>
                        <div class="block_05_item_content_brick"><p style="color: white;"> 26 и 27 июля состоится самое грандиозное событие лета 2024 года! Вас ждут интересная шоу-программа, множество конкурсов, призов и розыгрышей, первоклассные ведущие и море позитива! Живи на волне позитива!</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section style="margin-bottom: 50px;">
            <div class="block_06">
                <div class="block_06_image_brick"><img class="img_block_06" src="{% static 'images/img10.jpg' %}" alt="post_image"></div>
                <div class="block_06_text_brick">
                    <div class="block_05_item_title_brick"><h1 style="font-family: Calibri; font-weight: bold; font-size: 30px;">Хэдлайнер - Дастан Оразбеков</h1></div>
                    <div class="block_05_item_content_brick"><p style="color: white;"> 26 и 27 июля состоится самое грандиозное событие лета 2024 года! Вас ждут интересная шоу-программа, множество конкурсов, призов и розыгрышей, первоклассные ведущие и море позитива! Живи на волне позитива!</p></div>
                </div>
            </div>
        </section>
        <section>
            <div class="block_08">
                <img class="img_block_08" src="{% static 'images/img33.png' %}" alt="post_image">
            </div>
        </section>
        <section style="margin-bottom: 30px;">
            <div class="block_07">
                <img class="img_block_07" src="{% static 'images/img09.jpg' %}" alt="post_image">
                <img class="img_block_07" src="{% static 'images/img09.jpg' %}" alt="post_image">
                <img class="img_block_07" src="{% static 'images/img09.jpg' %}" alt="post_image">
                <img class="img_block_07" src="{% static 'images/img09.jpg' %}" alt="post_image">
                <img class="img_block_07" src="{% static 'images/img09.jpg' %}" alt="post_image">
                <img class="img_block_07" src="{% static 'images/img09.jpg' %}" alt="post_image">
            </div>
        </section>
        <section>
            <div class="block_08">
                <img class="img_block_08" src="{% static 'images/img34.png' %}" alt="post_image">
            </div>
        </section>
        <section class="block_09">
            <div class="block_09_list">
                <div><h1>Balkash Tour Fest 2024</h1></div>
                <div>
                    <p>Город Балхаш, Рембаза Акшага</p>
                    <p>Телефон: 8 776 201 0005</p>
                    <p>Instagram: balkhash_tour_fest</p>
                    <p>Почта: balkhashtourfest@mail.ru</p>
                </div>
            </div>
            <div class="map"><a href="https://yandex.kz/maps?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Яндекс Карты</a><a href="https://yandex.kz/maps/?ll=74.985831%2C46.791045&mode=whatshere&utm_medium=mapframe&utm_source=maps&whatshere%5Bpoint%5D=74.985019%2C46.790938&whatshere%5Bzoom%5D=15.84&z=16.82" style="color:#eee;font-size:12px;position:absolute;top:14px;">Рембаза кенті — Яндекс Карты</a><iframe src="https://yandex.kz/map-widget/v1/?ll=74.985831%2C46.791045&mode=whatshere&whatshere%5Bpoint%5D=74.985019%2C46.790938&whatshere%5Bzoom%5D=15.84&z=16.82" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </section>
    </div>
    <footer>
        <div class="footer">
            <p class="footer_items">О мероприятии</p>
            <p class="footer_items">Программа</p>
            <p class="footer_items">Правила</p>
            <p class="footer_items">Как добраться</p>
            <p class="footer_items">Контакты</p>
        </div>
        <div class="footer">
            <p style="color: white;">Balkhash Tour Fest 2024</p>
        </div>
    </footer>
</body>
</html>